@import 'src/styles/vars';

.publication-subcomment {

  & .publication-subcomment-author-avatar {
    .h-9 {
      height: 2.25rem;
    }
    .w-9 {
      width: 2.25rem;
    }
  }
  & .publication-subcomment-content {
    background-color: $bubble-background;
    border-radius: 0 15px 15px;

    & .publication-subcomment-author {
      font-family: 'Open Sans', sans-serif;

      & .publication-subcomment-author-name {
        font-size: .75em;
        font-weight: 600;
        color: $mid-gray;
        line-height: 16px;

        & span {
          color: $light-gray;
          font-size: .95em;
        }
      }
      & .publication-subcomment-author-company {
        font-size: .7em;
        color: $light-gray;
      }
    }
    & .publication-subcomment-published-date {
      font-family: 'Open Sans', sans-serif;
      font-size: .7em;
      color: $light-gray;

      & svg {
        margin-left: 5px;
      }
    }
    & .publication-subcomment-content-text {
      font-family: 'Open Sans', sans-serif;
      font-size: .83em;
      line-height: 20px;
    }
  }

  & .publication-subcomment-stats {
    font-family: 'Open Sans', sans-serif;
    font-size: .72em;
    color: $light-gray;
  }

}
