@import 'src/styles/vars';

#feed {
  .feed {
    background-color: $grey-background;
    margin: 0 auto;

    & .feed-publication {
       & .publication {
        width: 552px;
        box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
      }
    }
  }
}




