@import 'src/styles/vars';

#feed {
  .feed {
    background-color: $grey-background;
    margin: 2em auto;

    & .feed-publication {
       & .publication {
        width: 552px;
        box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
        
        & .publication-author {
          & .publication-author-infos {
            & .publication-author-name, .publication-author-level-connection,
            .publication-author-company,
            .publication-author-publish-date {
              font-family: 'Open Sans', sans-serif;
            }

            & .publication-author-name {
              font-size: .9em;
              font-weight: 600;
            }
            & .publication-author-level-connection {
              font-size: .9em;
              font-weight: 500;
              color: rgba(0,0,0,.6);
            }
            & .publication-author-company {
              font-size: .75em;
              padding: .2em 0 .4em;
              font-weight: 300;
              color: rgba(0,0,0,.6);
            }
            & .publication-author-publish-date {
              font-size: .75em;
              font-weight: 300;
              color: rgba(0,0,0,.6);
              & svg {
                margin-left: .3em;
              }
            }
          }
        }
        .publication-content {
          font-family: 'Open Sans', sans-serif;
        }
        .publication-stats {
          border-bottom: 1px solid #e6e9ec;
          margin: 0 .3em;
          padding: .53em 0;

          img {
            width: 16px;
            height: 16px;
            margin-right: 2px;
          }

          .publication-stats-counting {
            color: rgba(0,0,0,.6);
            font-family: 'Open Sans', sans-serif;
            font-size: .75em;
            margin-left: 2px;
            padding: .2em 0 .4em;
            font-weight: 300;

            .publication-stats-counting-notifs:hover, .publication-stats-counting-comments:hover {
              text-decoration: underline;
              color: $linkedin-blue;
            }
          }
        }
      }
    }
  }
}




