/** MAIN COLOR **/
$primary: #005b96;
$primary-hover: #00375b;
$secondary: #00183c;
/** MAIN COLOR **/

$grey-background: #F5F5F5;
$bubble-background: #f3f6f8;
$light-gray: rgba(0,0,0,.6);
$mid-gray: rgba(0,0,0,.9);

$linkedin-blue: #0073b1;

$quasi-white: #fcfcfc;
$shadow: #ccc
