@import 'src/styles/vars';

#app {
  width : 100vw;
  height: 100vh;
  position: relative;
  font-family: Poppins;

  & .notification-container-bottom-left {
    width: 400px;

    & .notification-custom {
      border-radius: 4px;
      padding: .8em 1.1em;
      display: flex;
    
      & .notification-custom-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 23px;
        color: white;
        padding-right: .8em;
      }
    
      & .notification-custom-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    
        &-title {
          font-size: 1.1em;
          font-weight: 500;
          letter-spacing: .5px;
          color: $grey-background;
          margin-bottom: .3em;
        }
        &-message {
          font-size: 12px;
          font-weight: 400;
          font-family: 'Open Sans', sans-serif;
          line-height: 1.2em;
          color: $grey-background;
          text-align: justify;
        }
      }
    }
  }
  
  .notification-custom-welcome, .notification-custom-guide {
    background-color: rgba($linkedin-blue, .95) ;
    border-left: 6px solid #005a8a;
  }
  
  .notification-custom-warning {
    background-color: rgba(#ff9800, .95) ;
    border-left: 6px solid #f57c00;
  }

  .feed-button {
    position: absolute;
    bottom: 1.5em;
    right: 1.5em;
    font-size: 2em;
    border: 1px solid $linkedin-blue;
    border-radius: 50px;
    background-color: $linkedin-blue;
    color: $quasi-white;
  }
  .feed-button:hover {
    cursor: pointer;
  }
}
