@import 'src/styles/vars';

#app {
  font-family: Poppins;

  .blue {
    color: #0073b1;
  }
  .green {
    color: #2f7b15;
  }
  .red {
    color: #e55800;
  }
  .yellow {
    color: #9b8443;
  }
  .purple {
    color: #a76969;
  }
}
