@import 'src/styles/reset';
@import 'src/styles/vars';

#nav {
  & nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
    button:focus {
      outline: inherit;
    }
    .download-button {
      background-color: $linkedin-blue;
      color: $grey-background;
    }
  }
}
